<h3>Latest Entries</h3>
{% for entry in entry_list %}
    {% include "blahhg/entry-list-item.html" %}
{% endfor %}
{% if is_paginated %}
<div class="pager">
    {% if page_obj.has_previous %}
        <a href="?page={{ page_obj.previous_page_number }}">&laquo; Newer</a> |
    {% endif %}

    <span class="current">
        Page {{ page_obj.number }} of {{ paginator.num_pages }}
    </span>

    {% if page_obj.has_next %}
        | <a href="?page={{ page_obj.next_page_number }}">Older &raquo;</a>
    {% endif %}
</div>
{% endif %}
